# ---- build artifacts ----
target/
build/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# ---- node ----
node_modules/
dist/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ---- env / secrets ----
.env
*.local
infra/docker/*.env
!infra/docker/*.env.example

# ---- IDE ----
.idea/
*.iml
# .vscode/
.settings/
.project
.classpath

# ---- os ----
.DS_Store

# ---- logs ----
logs/
*.log
